.container{
    padding-bottom: 30px;
}


.carousel-item{
    padding: 20px 40px;
    border-left: 20px;
}

.price{
    color: #FF136F;
}

.buy_now_button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.background_color{
    background-color: #feeae9;
    border-radius: 10px;
}

.cat1, .cat2, .cat3{
    border-radius: 20px;
    padding: 10px 50px;
}

.cat1{
    background-color: mediumpurple;
}

.cat2{
    background-color: darkorange;
}


.categories h1{
    color: white;
}

.buy_now_button {
    background-color: white;
}

.card-footer{
    background-color: white;
    border: none;
}

.card{
    border-radius: 20px;
    box-shadow: 10px 20px 20px gray;
    border: none;
}